<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Welcome to {{ title }}!</h1>
</div>

<div style="width: 40%; display: block; margin: 50px auto">
  <lib-dynamic-form
    [controls]="questions"
    [actions]="actions"
    (submit)="getFormResponse($event)"
  ></lib-dynamic-form>

  <div>
    <br />
    <button mat-raised-button color="warn" (click)="updateFormData()">Update sample data</button>

  </div>

  <p>{{ response | json }}</p>
</div>
