<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Welcome to {{ title }}!</h1>
</div>

<button type="button" (click)="getSampleAsyncData()">Get Sample Asyn Data</button>
<button type="button" (click)="directChangeOptionsFromControl()">Direct change options</button>
<button type="button" (click)="updateOptionsByService()">Update Options By Service</button>
<button type="button" (click)="setFormDataFromService()">Set From Data By Service</button>

<div style="width: 50%; display: block; margin: 50px auto">
  <lib-dynamic-form
    [controls]="questions"
    [actions]="actions"
    (submit)="getFormResponse($event)"
  ></lib-dynamic-form>

  <p>{{ response | json }}</p>
</div>
